
<div class="container">
  <div class="row">
    <div class="col">
      <div class="row rounded-box start-game">
        <h2>Find your opponent</h2>
        <div class="horizontal-line"></div>
        <button (click)="Click()">Start the game</button>
      </div>

      <div class="row rounded-box my-history">
        <h2>My history</h2>
        <div class="horizontal-line"></div>
      </div>
    </div>

    <div class="col">
      <div class="row rounded-box ranking">
        <h2>Global ranking</h2>
        <div class="horizontal-line"></div>
      </div>
    </div>
  </div>
</div>





