<ng-container *ngIf="score$ as s">
  <div class="e">
    <div class="row">
      <div class="col label">Username</div>
      <div class="col label">Won games</div>
      <div class="col label">Lost games</div>
      <div class="col label">Draw games</div>
    </div>

    <div class="row d">
      <div class="col label-data">{{s.username}}</div>
      <div class="col label-data">{{s.wonGames}}</div>
      <div class="col label-data">{{s.lostGames}}</div>
      <div class="col label-data">{{s.drawGames}}</div>
    </div>

  </div>
</ng-container>
