
.d {
  border-top: 1px solid #4caf50; /* Border color */
  border-bottom: 1px solid #4caf50;
  /*border-radius: 8px;*/
  padding: 10px 0 10px 0;
}

col {
  padding: 0px 0px 0px 0px;
  margin: 0px;
  width: 10px !important;
}

row {
  width: 100px;
}

.s {
  width: inherit;
}

.e {
  width: inherit;
}
